@import 'variables.css.scss';
@import 'mixins.css.scss';

.analytics {
	@include borderandshadow;
	background: #ffffff;
	margin: 40px 0;

	h2 {
		margin: 20px;
	}

	ul.tabs {
		list-style: none;
		padding: 0;
		border-bottom: 1px solid $lightgray;

		li {
			display: inline;
			margin-left: 10px;
			a {
				display: inline-block;
				padding: 3px 10px;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 400;
				color: #666;
				border-bottom: 4px solid transparent;

				&.active, &:hover {
					text-decoration: none;
					border-color: $blue;
				}
			}
		}
	}

	.bar_graph_horizontal {
		&.rect.gray_bars, &.rect.blue_bars{
			cursor: pointer;
		}

	}

	h3 {
		font-family: serif;
		font-size: 20px;
		margin: 20px;
		margin-bottom: 0;

		a {
			font-size: 14px;
			margin-left: 5px;
			font-family: sans-serif;

			&.disabled {
				color: #ccc;
				cursor: text;

				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	#complied_requests {
		display: inline-block;
		margin: 10px;
		margin-bottom: 10px;
		padding: 10px;
		background: #E4E6E8;

		label {
			font-weight: normal;
		}
	}
}

.analytics__scorecard {
	max-width: 250px;
	margin: 40px 0;
	h2 {
		margin: 0 0 10px 0;
	}
}

@media (max-width: 600px) {
	.analytics__scorecard {
		margin: 40px auto;
	}
}

@media (min-width: 601px) and (max-width: 991px){
	.scorecard--1 {
		float: left;
	}
	.scorecard--2 {
		float: right;
	}
}

.flagBorder {
	fill: none;
	stroke: $black;
	stroke-width: 1px;
}

#targeted_takedown_graph,
#targeted_dmca_graph,
#where_from_graph {
	margin-left: 13px;
	width: 400px;
	height: 100px;
	padding-bottom: 30px;
}

#dmca_requests_graph {
	width: 750px;
	height: 100px;
	padding-bottom: 30px;
}

#dmca_requests_graph {
	width: 400px;
}

#bar_graph_by_country {
	width: 100%;
	height: 600px;
	padding-bottom: 30px;
}

#bar_graph_by_type {
	width: 100%;
	height: 200px;
}

#bar_graph_by_disclosed {
	width: 100%;
	height: 200px;
}

#compare_graph {
	width: 100%;
	height: 400px;
}

.bar_graph_horizontal, .bar_graph_vertical {
	line.left-line {
		stroke: #ccc;
		stroke-width: 1px;
	}

	rect.blue_bars {
		fill: $blue;
	}

	rect.disclosed {
		fill: $darkgray;
	}

	rect.disclosed--all {
		fill: $black;
	}

	rect.disclosed--partial {
		fill: $orangeyellow;
	}

	rect.disclosed--none {
		fill: $blue;
	}

	rect.gray_bars {
		fill: #D2D8E1;
	}
	text.targeted:hover {
		cursor: pointer;
		fill: $blue;
	}

	text.a_label {
		fill: $blue;
		cursor: pointer;

		&:hover {
			text-decoration: none;
		}
	}
}

.bubble_graph {
	line.bottomline {
		stroke: $lightgray;
		stroke-width: 1;
	}

	text.company {
		transition: all 1s ease;
		font-size: 16px;
		font-weight: 400;
		text-anchor: middle;
		color: $black;

		&.in_circle {
			transition: all 1s ease;
			text-anchor: middle;
			fill: #fff;
		}
	}

	circle.all_requests {
		fill: $blue;
	}

	circle.complied_requests {
		fill: $black;
	}

	text.request {
		font-size: 12px;
		transition: all 1s ease;

		&.in_circle {
			transition: all 1s ease;
			fill: #fff;
			text-anchor: middle;
		}
	}
}

.pieChart {
	height: 500px;
	position: relative;
	.pieChart__slice {
		stroke: #fff;
		stroke-width: 4px;
	}
	.pieChart__line {
		fill: none;
		stroke: $black;
		stroke-width: 2px;
		stroke-dasharray: 5px;
	}
	.pieChart__label {
		font-size: 1em;
	}
	.totalValue {
		text-align: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		span {
			display: block;
		}
		.colon {
			display: none;
		}
	}
	@media (max-width: 768px) {
		height: 350px;
		.pieChart__slice {
			stroke-width: 1px;
		}
		.pieChart__line {
			stroke-dasharray: 0px;
		}
		.pieChart__label {
			font-size: .8em;
		}
	}
	@media (max-width: 432px) {
		.totalValue {
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			span {
				display: initial;
				padding: 0 2px;
			}
			.colon {
				display: initial;
			}
		}
	}
}

.legend {
	border-left: 12px solid #000;
	line-height: 12px;
	margin-top: 10px;
	padding-left: 10px;
	margin-left: 20px;

	&.legend_yes {
		border-color: $darkgray;
	}

	&.legend_no {
		border-color: $blue;
	}
	&.legend_partial {
		border-color: $orangeyellow;
		display: block;
	}
}

#partial.inactive,
#yes.inactive,
#no.inactive,
#all.inactive,
#none.inactive {
	display: none;
}

.graph_tooltip {
	position: absolute;
	color: $black;
	padding: 10px 10px 10px 10px;
	background: #F3F5F6;
	width: 135px;
	opacity: 0.99;
	font-family: serif;
	font-size: 15px;
	line-height: 18px;

	&:after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-width: 5px;
		border-style: solid;
		border-color: transparent #F3F5F6 transparent transparent;
		top: 3px;
		left: -10px;
	}

	span {
		display: block;
		margin: 0;
		color: $black;
		font-family: sans-serif;
		font-size: 22px;
		margin-top: 6px;
		padding-bottom: 10px;
	}
}

.partialInactive {
	.partial-data {
		display: none;
	}
}

.bubble_tooltip {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	position: absolute;
	color: $black;
	padding: 10px 10px 12px 10px;
	background: #F3F5F6;
	width: 135px;
	height: 150px;
	opacity: 0.99;
	font-family: serif;
	font-size: 15px;
	line-height: 18px;

	&:after {
		content: "";
		position: absolute;
		width: 0;
		height: 0;
		border-width: 5px;
		border-style: solid;
		border-color: #F3F5F6 transparent transparent transparent;
		bottom: -10px;
		left: 62px;
	}

	span {
		display: block;
		margin: 0;
		color: $black;
		font-family: sans-serif;
		font-size: 22px;
		margin-top: 6px;
		padding-bottom: 20px;
	}
}

@media (max-width: 768px) {

	#where_from_graph,
	#targeted_takedown_graph,
	#targeted_dmca_graph,
	#dmca_requests_graph,
	#dmca_requests_graph,
	#dmca_requests_legend,
	#bar_graph_by_country,
	#bar_graph_by_type,
	#bar_graph_by_disclosed {
		width: 80%;
	}

	#bar_graph_by_country {
		padding-left: 10px;
	}

	#compare_graph {
		width: 100%;
	}

	.bubble_graph text.company {
		font-size: 11px;
	}

}