.analytics {
	background: #f0f2f4;
	border-top: 3px solid #dadada;
	margin: 40px 0;

	h2 {
		margin: 20px;
	}

	ul.tabs {
		list-style: none;
		padding: 0;
		border-bottom: 1px solid #c2c2c2;

		li {
			display: inline;

			a {
				display: inline-block;
				padding: 3px 10px;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 800;
				color: #666;
				border-bottom: 4px solid transparent;

				&.active, &:hover {
					text-decoration: none;
					border-color: #5574D6;
				}
			}

			&:first-child {
				margin-left: 10px;
			}
		}
	}

	h3 {
		font-family: serif;
		font-size: 20px;
		margin: 20px;
		margin-bottom: 0;
	}

	#complied_requests {
		display: inline-block;
		margin: 10px;
		margin-bottom: 10px;
		padding: 10px;
		background: #E4E6E8;

		label {
			font-weight: normal;
		}
	}
}

#bar_graph_by_country {
	width: 100%;
	height: 600px;
}

#bar_graph_by_type {
	width: 100%;
	height: 200px;
}

#bar_graph_by_disclosed {
	width: 100%;
	height: 200px;
}

#compare_graph {
	width: 100%;
	height: 400px;
}

.bar_graph_horizontal, .bar_graph_vertical {
	rect.blue_bars {
		fill: #548EF9;
	}

	rect.gray_bars {
		fill: #D2D8E1;
	}
}

.bubble_graph {
	line.topline, line.bottomline {
		stroke: black;
		stroke-width: 1;
	}

	line.center {
		stroke: black;
		stroke-width: 2;
		stroke-dasharray: 2, 4;
		opacity: 0.3;
	}

	text.company {
		transition: all 1s ease;
		font-size: 16px;
		font-weight: 800;

		&.in_circle {
			transition: all 1s ease;
			text-anchor: middle;
			fill: #fff;
		}
	}

	text.request {
		font-size: 12px;
		transition: all 1s ease;

		&.in_circle {
			transition: all 1s ease;
			fill: #fff;
			text-anchor: middle;
		}
	}
}