<div class="jumbotron">
  <h1>
    <span class="blue mainheading">
      Requests for Content<br>
      Alteration &amp; Takedown
    </span>
  </h1>
</div>

<div class="col-md-3">
  <section class="scorecard">
    <h2>January – June 2014</h2>
    <dl>
      <dt>Total Number of Requests</dt>
      <dd>90</dd>
    </dl>
  </section>

  <br><br>

  <section class="scorecard">
    <h2>January – June 2014</h2>
    <dl>
      <dt>Number of Requests Granted</dt>
      <dd>0</dd>
    </dl>
  </section>

<br /><br />
  <section class="scorecard">
    <h2>January – June 2014</h2>
    <dl>
      <dt>Total Number of DMCA Takedown Requests</dt>
      <dd>10</dd>
    </dl>
  </section>
  <br><br>
  <section class="scorecard">
    <h2>January – June 2014</h2>
    <dl>
      <dt>Percentage of Requests Granted</dt>
      <dd>40<small>%</small></dd>
    </dl>
  </section>

</div>

<div class="col-md-9">
  <h2>Imagine a world in which every single human being can freely share in the sum of all knowledge.</h2>
  <p>
    The Wikimedia projects make up the world's largest repository of human knowledge. With that much freely available information, someone is bound to get upset by some of the content from time to time. Every year, we receive requests to remove or change material that has been posted onto a Wikimedia project.
  </p>

  <p>
    But the Wikimedia projects are yours, not ours. People just like you from around the world write, upload, edit, and curate all of the content. Therefore, we believe users should decide what belongs on Wikimedia projects.
  </p>

  <p>
    Below, you will find more information about the number of requests we receive, where they come from, and how they could impact free knowledge. You can also learn more about how we fight for freedom of speech through our defense of user programs in the FAQ.
  </p>

  <blockquote>
    <p>We change people through conversation, not through censorship.</p>
    <footer>
      <img src="http://lorempixel.com/100/100/people/">
      <p>Jay Z<small>Musician (2010)</small></p>
    </footer>
  </blockquote>

  <h2>DMCA Takedown Notices</h2>
  <p>
   The Wikimedia community is made up of creators, collectors, and consumers of free knowledge. While most material appearing on Wikimedia projects is in the public domain or openly licensed, occasionally copyrighted material makes it way onto the projects.
 </p>
  <p>
    The Wikimedia Foundation is obligated under the Digital Millenium Copyright Act (DMCA) to remove copyright-infringing material upon receipt of a proper takedown request. When we receive a DMCA takedown request, we thoroughly evaluate the request to ensure that it is valid. If we believe it is, we remove the allegedly infringing content and we are transparent about that removal. If we do not believe it is valid, we will push back as appropriate. To learn more about DMCA procedures, see our DMCA policy.
  </p>
  <p>
    Below, we have provided information about the DMCA takedown notices we have received in the past and how we responded to them.
  </p>
  <blockquote>
    <p>A well-functioning copyright law carefully balances the interests of the public in access to expressive works and ... the interests of copyright owners in being compensated for uses of their works.</p>
    <footer>
      <img src="http://lorempixel.com/100/100/people/">
      <p>Pamuela Samuelson<small>Director of Berkeley Center for Law & Technology (2010)</small></p>
    </footer>
  </blockquote>
</div>

<div class="col-md-4">
  <div class="story">
    <h3>
      <small>Story</small><br>
      French DCRI Case<br>
      <small>March 2013</small>
    </h3>
    <hr />
    <p>In March 2013, a French intelligence agency called the DCRI detained a French Wikipedia user and threatened him with severe criminal penalties if he did not use his administrative rights to delete from French Wikipedia information about a military base that the DCRI deemed classified. The supposedly classified information was actually publicly available because the military had provided interviews and a tour of the base to local reporters. We defended the Wikipedia user involved and fought to keep the content up on French Wikipedia. Read more.</p>
  </div>
</div>

<div class="col-md-4">
  <div class="story">
    <h3>
      <small>Story</small><br>
      Tasmanian Aboriginal Language Case<br>
      <small>July 2012</small>
    </h3>
    <hr />
    <p>In July 2012, an Aboriginal language center demanded the removal of the English Wikipedia article on "palawa kani", claiming copyright over the entirety of the language. We refused to remove the article because copyright law simply cannot be used to prevent people from using an entire language, nor should it be used to prevent general discussion about the language. Additionally, such a broad claim would have chilled free speech and negatively impacted research, education, and public discourse -- activities that Wikimedia serves to promote.</p>
  </div>
</div>

<div class="col-md-4">
  <div class="story">
    <h3>
      <small>Story</small><br>
      Monkey Picture<br>
      <small>January 2014</small>
    </h3>
    <hr />
    <p>In July 2011, an award-winning photographer left his camera unattended in a national park in North Sulawesi, Indonesia. A female crested black macaque monkey got ahold of the camera and took a series of pictures, including some self-portraits. The pictures were featured in an online newspaper article and eventually posted to Commons. We received a takedown request in January 2014 based on the argument that the photographer owned the copyright to the photographs. Believing that the photographs are in the public domain, we denied the request.</p>
  </div>
</div>

<div class="clear"></div>
<br><br><br><br><br><br>
