<div class="jumbotron">
	<h1>
		<span class="blue">
			Frequently<br /> Asked Questions
		</span>
	</h1>
</div>

<div class="col-md-3"></div>

<div class="col-md-9">
	<h2 id="#information">What sort of information gets requested?</h2>
	<p>All sorts of identifying information, public and nonpublic, gets requested. Requests tend to be broad in nature, in order to capture as much information as possible. However, because we collect relatively <a href="https://wikimediafoundation.org/wiki/Privacy_policy#Types_of_Information_We_Receive_From_You.2C_How_We_Get_It.2C_.26_How_We_Use_It">small amounts of information</a> and retain it for <a href="https://meta.wikimedia.org/wiki/Data_retention_guidelines">limited amounts of time</a>, we frequently have little to disclose.</p>

	<h2 id="#standard">Does WMF have different standards depending on who is requesting? </h2>
	<p>No. Regardless of who is requesting user data—be it an individual, a government, or a law enforcement officer—we typically do not produce information as a result of a request unless we have received proper legal process. More information can be found in our <a href="https://wikimediafoundation.org/wiki/Requests_for_user_information_procedures_%26_guidelines">Requests for User Information Procedure &amp; Guidelines</a>.</p>

	<h2>What happens when you receive a request from abroad?</h2>
	<p>Per our <a href="https://wikimediafoundation.org/wiki/Requests_for_user_information_procedures_%26_guidelines">Requests for User Information Procedure &amp; Guidelines</a>, we require that requests originating from outside of the United States to follow the <a href="https://en.wikipedia.org/wiki/Mutual_Legal_Assistance_Treaty">mutual legal assistance treaty</a> (MLAT) process or <a href="https://en.wikipedia.org/wiki/Letter_rogatory">letters rogatory</a> process so that a U.S. court will issue the required U.S. legal process to the Wikimedia Foundation.</p>

	<h2>When would you not tell a user that his or her nonpublic personal information is being disclosed as a result of a legal process, such as a subpoena? </h2>
	<p>We are committed to notifying users if we plan on disclosing nonpublic personal information. However, we cannot notify a user if we are legally restrained from doing so (e.g. by a gag order), if a credible threat to life or limb is present, or if the user has not provided us with an e-mail address or valid contact information.</p>

	<h2>Help! My personal information is being sought because of something I did on the Wikimedia projects. What should I do? </h2>
	<p>If you are the subject of a subpoena, it is highly recommended that you consult your own lawyer immediately. There are a number of organizations that will fight on a user's behalf, like the <a href="https://www.aclu.org/">American Civil Liberties Union</a> (ACLU) or the <a href="https://www.eff.org/">Electronic Frontier Foundation</a> (EFF). If you need help finding an attorney, WMF may be able to put you in touch with some of these organizations or help you secure an attorney at reduced or pro-bono rates. In rare cases, assistance may also be available under our <a href="https://meta.wikimedia.org/wiki/Legal_and_Community_Advocacy/Legal_Fees_Assistance_Program">Legal Fees Assistance Program</a> or <a href="https://meta.wikimedia.org/wiki/Legal_and_Community_Advocacy/Legal_Policies#Defense_of_Contributors">Defense of Contributors Program</a>.</p>

	<p>Additionally, in certain situations, WMF may challenge a subpoena on a user’s behalf if it is unnecessarily broad or burdensome, or if we believe the subpoena threatens the free speech of users on our projects. For more information about subpoenas, see our <a href="https://wikimediafoundation.org/wiki/Privacy_policy/Subpoena_FAQ">Subpoena FAQ</a>. </p>

	<h2>What do you mean by "civil subpoena"?</h2>
	<p>When we say "civil subpoena", we mean a legal process received by the Wikimedia Foundation from a third-party individual or organization requesting nonpublic user information, that usually relates to a legal dispute between two or more individuals or organizations. Civil subpoenas generally do not require review by a judge or a magistrate.</p>

	<h2>What do you mean by "criminal subpoena"?</h2>
	<p>When we say "criminal subpoena", we mean a legal process received by the Wikimedia Foundation requesting nonpublic user information that is typically issued by a government attorney or <a href="https://en.wikipedia.org/wiki/Grand_jury">grand jury</a>, in connection with an official criminal investigation.</p>

	<h2>What do you mean by "search warrant"?</h2>
	<p>When we say a "search warrant", we mean a warrant issued under the procedures of the <a href="http://www.law.cornell.edu/rules/frcrmp">Federal Rules of Criminal Procedure</a> or equivalent state warrant procedures, based upon a showing of <a href="https://en.wikipedia.org/wiki/Probable_cause">probable cause</a> that specific information held by the Wikimedia Foundation may be related to a crime. Search warrants are generally reviewed by a judge or a magistrate.</p>

	<h2>What do you mean by "court order"?</h2>
	<p>When we say "court order", we mean an order issued by a U.S. court of competent jurisdiction directed at the Wikimedia Foundation. Court orders for user data may be issued under various U.S. federal and state laws, such as section 2703(d) of the <a href="https://en.wikipedia.org/wiki/ECPA">Electronic Communications Privacy Act</a> ("ECPA"), a federal privacy law. </p>

	<p>For the avoidance of doubt, we believe a warrant is required by the <a href="http://www.law.cornell.edu/constitution/fourth_amendment">4th Amendment</a> to the <a href="http://www.archives.gov/exhibits/charters/constitution_transcript.html">United States Constitution</a>, which prohibits unreasonable search and seizure and overrides conflicting provisions in the ECPA. We believe that the ECPA needs to be updated so that equivalent protections are granted to electronic communications and documents that have already been granted to the physical documents one keeps at home or in their office. To that end, we are a member of the <a href="http://digitaldueprocess.org/index.cfm?objectid=37940370-2551-11DF-8E02000C296BA163">Digital Due Process Coalition</a> to help in that effort.</p>

	<h2>What do “usernames possibly affected” and “usernames actually affected” measure?</h2>
	<p>“Users possibly affected” measures the number of unique user accounts implicated by requests for user data, while “users actually affected” measures the number of unique user accounts for which we actually provided data. Either number may not reflect the number of unique individuals implicated by requests for user data; if an individual has multiple accounts across all Wikimedia projects, and we receive requests for more than one of these accounts, we record each username separately. As a result, the number of usernames possibly or actually affected might overestimate the number of individuals implicated by user data requests.</p>

	<h2>What do you mean by user accounts potentially affected?</h2>
	<p>This number represents the number of unique user accounts implicated by requests for user data and whose data would have been disclosed if we have granted every request we received. This number may not reflect the number of unique individuals implicated by requests for user data; if an individual has multiple accounts across all Wikimedia projects, and we receive requests for more than one of these accounts, we record each user account separately. As a result, this number might overestimate the number of individuals implicated by user data requests.</p>

	<h2>What do you mean by user accounts actually affected?</h2>
	<p>This number represents the number of unique user accounts whose nonpublic information was disclosed as a result of WMF receiving a valid request for user data. This number may not reflect the number of unique individuals whose data was disclosed as a result of a valid request for user data; if an individual has multiple accounts across all Wikimedia projects, and we receive requests for more than one of these accounts, we record each user account separately. As a result, this number might overestimate the number of individuals implicated by user data requests.</p>

	<h2>Are requests for public information included in requests for user data?</h2>
	<p>No, any requests for purely publicly available information are not included in this report.</p>

	<h2>What is WMF doing to help improve laws related to disclosure or surveillance of user information? </h2>
	<p>Our core <a href="https://meta.wikimedia.org/wiki/User:Sue_Gardner/Wikimedia_Foundation_Guiding_Principles">values</a> of freedom of speech and access to information can be threatened by laws that compromise user privacy. For this reason, the Wikimedia Foundation has joined the fight to improve privacy laws around the world. </p>

	<p>In 2013, we joined the <a href="http://digitaldueprocess.org/index.cfm?objectid=37940370-2551-11DF-8E02000C296BA163">Digital Due Process Coalition</a> (DDPC), an organization focused on reforming the United States <a href="https://en.wikipedia.org/wiki/Electronic_Communications_Privacy_Act">Electronic Communications Privacy Act</a> (ECPA). The ECPA specifies standards for law enforcement access to electronic communications and associated data, thereby providing a degree of privacy to users of digital communication services. However, the ECPA was enacted in 1986, meaning that it does not adequately protect users anymore and only serves to provide inconsistent standards for law enforcement when dealing with "new" technologies. The DDPC's mission is to simplify, clarify, and unify the ECPA standards—providing clearer privacy protections for users taking into account changes in technology and usage patterns, while preserving the legal tools necessary for government agencies to enforce the laws and protect the public.</p>

	<p>In 2014, <a href="https://blog.wikimedia.org/2014/05/09/opposing-mass-surveillance-on-the-internet/">we signed</a> onto the <a href="https://en.necessaryandproportionate.org/take-action/digiges">Necessary and Proportionate Principles</a>, which strongly support the application of human rights to mass surveillance and set forth basic principles governments should adhere to when employing modern surveillance technologies. We strongly oppose mass surveillance by any government or entity and hope that these principles provide a first step towards improving the practices that are currently being employed.</p>

	<h2>How do users resolve content disputes and decide what should appear on the Wikimedia projects?</h2>
	<p>All content on the Wikimedia projects are written, uploaded, edited, and curated by people just like you from around the world. For the most part, users—not the Wikimedia Foundation—develop and enforce the policies and procedures that govern the content on the projects. This means that users decide what should and shouldn't be included on the projects, within the bounds of U.S. law. </p>

	<p>Similarly, each project's community has created policies and procedures to handle disputes about whether certain content belongs on a particular project or meets that project's standards.</p>

	<p>When a third party who, say, has an Wikipedia article written about them and doesn't like some unflattering content included in that article, the proper way to address their concerns is to take it up with the community itself, as opposed to the Wikimedia Foundation.</p>

	<h2>Help! I'm being sued because of something I did on the Wikimedia projects. What should I do?</h2>
	<p>Lawsuits against Wikimedia users are exceedingly uncommon—most disputes about content are resolved by working with the user community through community-driven processes. In fact, individuals and organizations that sue over content they wish to remove from the public's eye often end up causing that content to receive greater public attention as a result of the lawsuit, a phenomenon known as the <a href="https://en.wikipedia.org/wiki/Streisand_effect">Streisand Effect</a>.</p>

	<p>In the unlikely event that you are the subject of a lawsuit, it is highly recommended that you consult your own lawyer. There are a number of organizations that fight on a user's behalf, like the <a href="http://www.casp.net/">California Anti-SLAPP Project</a> or the <a href="https://www.eff.org/">Electronic Frontier Foundation</a> (EFF). If you need help finding an attorney, WMF may be able to put you in touch with some of these organizations or help you secure an attorney at reduced or pro-bono rates. Additionally, in rare cases, assistance may also be available under our <a href="https://meta.wikimedia.org/wiki/Legal_and_Community_Advocacy/Legal_Fees_Assistance_Program">Legal Fees Assistance Program</a> or <a href="https://meta.wikimedia.org/wiki/Legal_and_Community_Advocacy/Legal_Policies#Defense_of_Contributors">Defense of Contributors Program</a>.</p>

	<h2>Does WMF ever remove content?</h2>
	<p>Absent the receipt of a legally valid <a href="http://www.chillingeffects.org/dmca512/faq.cgi#QID130">DMCA notice</a>, the Wikimedia Foundation will generally only remove content in exceptional circumstances.</p>

	<h2>What makes a DMCA takedown notice "valid" or "proper"?</h2>
	<p>The DMCA has several <a href="https://en.wikipedia.org/wiki/Online_Copyright_Infringement_Liability_Limitation_Act#Notice_from_copyright_owner">formal requirements</a> for notices. However, our evaluation isn’t over when we receive a notice that meets all of these requirements. We will also analyze the copyright eligibility of the work being infringed, whether the allegedly infringing material actually infringes, and whether the allegedly infringing material is a <a href="https://en.wikipedia.org/wiki/Fair_use">fair use</a> of the requester’s work. For more information, see our <a href="http://wikimediafoundation.org/wiki/DMCA_Policy">DMCA Policy</a>.</p>

	<h2>How are you transparent about particular DMCA removals besides in this transparency report?</h2>
	<p>We record every DMCA takedown request that results in removal of content on <a href="http://wikimediafoundation.org/wiki/Category:DMCA">our website</a>. In addition, every DMCA removal is submitted to the <a href="http://www.chillingeffects.org/">Chilling Effects Clearinghouse</a> (Chilling Effects), a web archive managed by the <a href="https://www.eff.org/">Electronic Frontier Foundation</a> and several law school clinics. By collecting takedown notices from a variety of sources, Chilling Effects provides a large set of data for analysis and allows recipients and senders of takedown notices to learn more about how the DMCA operates in the current online environment.</p>

	<h2>Did you receive any <a href="http://www.chillingeffects.org/question.cgi?QuestionID=132">DMCA counter-notices</a>?</h2>
	<p>No, we did not receive any DMCA counter-notices between July 2012 - July 2014</p>

	<h2>Why is the information from July 2012 - June 2013 not available in six-month increments like the information from July 2013 - June 2014?</h2>
	<p>During the July 2012 - June 2013 period, we recorded totals only for the entire period, rather than breaking the totals into six-month terms. In order to provide a better comparison with other reporting organizations, we changed the date ranges for our charts to line up with those used by those organizations starting in July 2013.</p>

	<h2>How do you count requests?</h2>
	<p>Each request received counts as one request in the transparency report, irrespective of the number of webpages, content, or users that request deals with. For example, a request for user information that asks for the information of three users counts as one request for user data, and a DMCA takedown request that requests the removal of 5 images is counted as one DMCA request. Duplicate requests regarding the same matter from the same requesting party are also counted as one request. For example, if a requesting party sends us multiple demand letters to take a particular Wikipedia article down, it counts as one request.</p>

	<h2>What do you mean when you say a project was "targeted" by a takedown, alteration, or DMCA request?</h2>
	<p>It means that a particular project would have been altered if we had granted a particular request or that a particular project was actually altered due to a particular request. For example, if the transparency report indicates that French Wiktionary was targeted by one content alteration request, it means that we received a content alteration request that demanded that we change content on French Wiktionary.</p>

	<h2>Do you have data for projects potentially and actually affected from July 2012 to June 2013?</h2>
	<p>No, we started tracking requests in more detail beginning in July 2013, so this level of detail is not available for July 2012 to June 2013.</p>
</div>


<div class="clear"></div><br><br>
