<div class="jumbotron">
	<h1>
		<span class="blue">
			Frequently<br /> Asked Questions
		</span>
	</h1>
</div>

<div class="col-md-3"></div>

<div class="col-md-9">
	<h2>What else are you transparent about?</h2>
	<p>What we have done, what we are doing, and what we hope to do. Anyone can see how a Wikipedia article was created and developed over time, read about what the Wikimedia Foundation is working on, and even contribute to the software that the Wikimedia projects are built upon. We publish annual reports, which highlight our accomplishments over the previous fiscal year, as well as monthly reports detailing our day-to-day activities. We also publish our plans for the future through our annual plan, which details our goals for the next fiscal year, and our strategic plan, which outlines how we will address critical challenges and opportunities facing the Wikimedia movement over longer periods of time. </p>

	<p><em>Core financial information.</em> On the financial reports page, you will find audited financial statements, detailed financial plans, and our form 990.</p>

	<p><em>Board meeting minutes and outcomes.</em> The Wikimedia Board of Trustees is the ultimate corporate authority in the Wikimedia Foundation. On the meetings and resolutions pages, you will find information about its decisions.</p>

	<p><em>Policies and procedures.</em> Beyond key policies like the privacy policy, donor privacy policy, and trademark policy, we publish all other key policies and procedures governing Wikimedia operations.</p>

	<p><em>Fundraising activities.</em> Our fundraising work is public and community-driven as well. You can learn more on the community fundraising landing page.</p>

	<p><em>Talking one-on-one with our community.</em> The Wikimedia Foundation staff regularly participate in open office hours on IRC (an online chat system).</p>


	<h2>What do you mean that the users decide what content appears on the Wikimedia projects?</h2>
	<h2>Help! I'm being sued because of something I did on the Wikimedia projects. Can WMF help me?</h2>

	<h2>When does WMF remove content?</h2>
	<p>Absent a DMCA notice, the Wikimedia Foundation will only remove content in exceptional circumstances. For more information, see our Office Actions policy.</p>

	<h2>Are there any types of content removal not covered in your report?</h2>
	<p>Our transparency report covers all content removal requests that have been received by our legal team. However, more often than not, content removal or alteration requests are resolved without the Wikimedia Foundation’s involvement due to the efforts of the Wikimedia community and volunteer response team. Content issues that are resolved without any contact to the Foundation are not included in this report.</p>

	<h2>How can I report or correct inaccurate content or content that does not comply with a particular project policy?</h2>
	<p>Wikimedia projects can be edited by anyone. One way you can fix content on our projects is to try correcting it yourself. If you cannot or do not want to fix an error yourself, you may leave a note on the associated “talk” or “discussion” page so another member of the community can correct the content. You may also e-mail our volunteer response team with any issues. If you elect to take this route, please include a description of the issue as well as a means of locating the content. </p>

	<h2>What does "in the public domain or openly licensed" mean?</h2>
	<p>Works that are “in the public domain” are those whose intellectual property rights have expired, have been forfeited, or are otherwise inapplicable. Examples include the works of Shakespeare and Beethoven, most of the early silent films, the formulae of Newtonian physics, and powered flight. Public domain works are copyright-free - anyone can use them in any way and for any purpose. Whether or not a work is in the public domain can vary by country, however, so it is helpful to check the copyright term of different countries to confirm the status of a particular work.</p>

	<p>“Openly licensed” works are a broader category than “public domain works.” Openly licensed works carry no legal restrictions on people’s freedom to use, republish, distribute, and modify the work. Openly licensed works are crucial to the Wikimedia community’s mission of distributing free knowledge to all people. For purposes of Wikimedia projects, openly licensed works are those that carry one of the following well-known licenses:</p>
	<ul>
		<li>Creative Commons Attribution/Share-Alike licenses</li>
		<li>GNU Free Documentation License (GFDL)</li>
		<li>GNU General Public License (GPL) / GNU Lesser General Public License (LGPL)</li>
		<li>Free Art License/Licence Art Libre (FAL/LAL)</li>
		<li>Open Data Commons, for freely licensed databases where the contents are also free or available under a free license or cannot be separated from the database.</li>
	<ul>
</div>


<div class="clear"></div><br><br>
