<div class="jumbotron">
	<h1>
		Wikimedia Foundation
		<span class="blue">
			<br>Transparency
			<br>Report
		</span>
	</h1>
</div>

<div class="col-md-12">
	<p class="lead">
		<a target="_blank" href="http://wikimediafoundation.org/wiki/Vision">Our mission</a> is to provide access to the sum of all human knowledge. We believe that protecting user privacy and defending against censorship are essential to the success of that mission. Every year, we receive requests from governments, individuals, and organizations to disclose information about our users or to delete or alter content on our projects. Some are legitimate. Some are not.
	<br /> <br />
		Through this transparency report, we hope to shed some light on the requests we receive and how we respond to them. We are proud that transparency is one of the core values of the Wikimedia movement.
	</p>
</div>

<div class="col-md-4">
	<a href="privacy/" class="story">
		<h3><small>Section</small><br>Requests for <br />User Data</h3>
		<hr/>
		<p>
			<img class="icon" src="/images/userdata.svg">
		</p>
	</a>
</div>

<div class="col-md-4">
	<a href="content/" class="story">
		<h3><small>Section</small><br>Content Alteration &amp; Takedown</h3>
		<hr/>
		<p>
			<img class="icon" src="/images/content.svg">
		</p>
	</a>
</div>

<div class="col-md-4">
	<a href="faq/" class="story">
		<h3><small>Section</small><br>Frequently Asked Questions</h3>
		<hr/>
		<p>
			<img class="icon" src="/images/faq.svg">
		</p>
	</a>
</div>

<div class="clear">&nbsp;</div>
