<div class="jumbotron">
	<h1>
		<small>Privacy</small><br>
		<span class="blue">
			User Information<br>
			Requests
		</span>
	</h1>
</div>

<div class="col-md-9">
	<p class="lead">
		Sed dapibus diam quam. Phasellus lacus metusvenenatis eu ligula volutpat, venenatis faucibus ante.
	</p>
	<h2>Quisque in accumsan</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc massa enim, pharetra a euismod in, aliquam id nisl. Vivamus elementum ullamcorper odio, sed laoreet risus lacinia sit amet. Sed eget pharetra eros. Nunc id luctus odio, et cursus justo. Vestibulum eu imperdiet arcu. Integer semper libero a commodo posuere. Vestibulum ut elit purus. Sed vestibulum arcu risus, ut aliquet justo aliquam eget. Nam eget enim vehicula, lacinia augue in, luctus massa. Maecenas id nunc orci. Proin molestie libero erat, eget consectetur nisi mollis vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce pellentesque metus quis pellentesque gravida. Aliquam scelerisque augue sed lacus sodales, in vestibulum tortor dictum. Mauris ut mi orci.
	</p>

	<blockquote>
		<p>We change people through conversation, not through censorship.</p>
		<footer>
			<img src="http://lorempixel.com/100/100/people/">
			<p>People, Earth</p>
		</footer>
	</blockquote>

	<h2>Quisque in accumsan</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc massa enim, pharetra a euismod in, aliquam id nisl. Vivamus elementum ullamcorper odio, sed laoreet risus lacinia sit amet. Sed eget pharetra eros. Nunc id luctus odio, et cursus justo. Vestibulum eu imperdiet arcu. Integer semper libero a commodo posuere. Vestibulum ut elit purus. Sed vestibulum arcu risus, ut aliquet justo aliquam eget. Nam eget enim vehicula, lacinia augue in, luctus massa. Maecenas id nunc orci. Proin molestie libero erat, eget consectetur nisi mollis vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce pellentesque metus quis pellentesque gravida. Aliquam scelerisque augue sed lacus sodales, in vestibulum tortor dictum. Mauris ut mi orci.
	</p>
	<h2>Quisque in accumsan</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc massa enim, pharetra a euismod in, aliquam id nisl. Vivamus elementum ullamcorper odio, sed laoreet risus lacinia sit amet. Sed eget pharetra eros. Nunc id luctus odio, et cursus justo. Vestibulum eu imperdiet arcu. Integer semper libero a commodo posuere. Vestibulum ut elit purus. Sed vestibulum arcu risus, ut aliquet justo aliquam eget. Nam eget enim vehicula, lacinia augue in, luctus massa. Maecenas id nunc orci. Proin molestie libero erat, eget consectetur nisi mollis vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce pellentesque metus quis pellentesque gravida. Aliquam scelerisque augue sed lacus sodales, in vestibulum tortor dictum. Mauris ut mi orci.
	</p>
	<h2>Quisque in accumsan</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc massa enim, pharetra a euismod in, aliquam id nisl. Vivamus elementum ullamcorper odio, sed laoreet risus lacinia sit amet. Sed eget pharetra eros. Nunc id luctus odio, et cursus justo. Vestibulum eu imperdiet arcu. Integer semper libero a commodo posuere. Vestibulum ut elit purus. Sed vestibulum arcu risus, ut aliquet justo aliquam eget. Nam eget enim vehicula, lacinia augue in, luctus massa. Maecenas id nunc orci. Proin molestie libero erat, eget consectetur nisi mollis vel. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce pellentesque metus quis pellentesque gravida. Aliquam scelerisque augue sed lacus sodales, in vestibulum tortor dictum. Mauris ut mi orci.
	</p>


	<div class="analytics">
		<h2>Requests for User Data</h2>
		<ul class="tabs">
			<li><a href="#">All</a></li>
			<li><a href="#">July 2013</a></li>
			<li><a href="#">January 2014</a></li>
			<li><a href="#">July 2014</a></li>
		</ul>
		<div class="graph">
			<div class="row">
				<div class="col-md-4">
					<h3>Request Type</h3>
					<div id="bar_graph_by_type" class="bar_graph_horizontal"></div>
					<h3>Request Disclosed</h3>
					<div id="bar_graph_by_disclosed" class="bar_graph_horizontal"></div>
				</div>
				<div class="col-md-7">
					<h3>By Country</h3>
					<div id="bar_graph_by_country" class="bar_graph_horizontal"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="analytics">
		<h2>How We Compare to Other Companies</h2>
		<ul class="tabs">
			<li><a href="#">All</a></li>
			<li><a href="#">July 2013</a></li>
			<li><a href="#">January 2014</a></li>
			<li><a href="#">July 2014</a></li>
		</ul>
		<div id="compare_graph" class="bubble_graph"></div>
		<span id="complied_requests">
			<input type="checkbox" id="complied_requests_check">
			<label for="complied_requests_check">% of requests complied</label>
		</span><br>
	</div>

</div>

<div class="col-md-3">
	<br><br><br><br><br>
	<div class="story">
		<h3><small>Story</small><br>Hallogallo</h3>
		<small>July 2013</small>
		<hr/>
		<p>
			Maecenas vitae nibh leo. Vivamus laoreet a purus vulputate ultricies. Suspendisse est sem, congue in leo eget, feugiat tincidunt felis. Maecenas congue fringilla nulla id aliquet. Sed eu erat quis orci blandit auctor ac sed arcu. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec est mauris, consequat sit amet convallis eget, varius vitae quam. Nullam venenatis, risus a dignissim placerat, tortor justo cursus lectus, sed facilisis est massa sed quam. Nam pretium, eros ac laoreet pretium, nisl felis tincidunt ligula, sit amet aliquet erat enim adipiscing dolor. Curabitur a purus nec libero vehicula dignissim in eu elit.
		</p>
	</div>

	<section class="scorecard">
		<h2>Scorecard</h2>
		<dl>
			<dt>Number of compliances</dt>
			<dd>42</dd>
		</dl>
	</section>
</div>


<div class="clear">&nbsp;</div>
<script src="/javascripts/privacy.js"></script>
