<div class="jumbotron">
	<h1>
		<small>Privacy</small><br>
		<span class="blue">
			User Information<br>
			Requests
		</span>
	</h1>
</div>

<div class="col-md-3">
	<section class="scorecard">
		<h2>Scorecard</h2>
		<dl>
			<dt>Number of Requests Complied</dt>
			<dd>1</dd>
		</dl>
	</section>
	<br><br>
	<section class="scorecard">
		<h2>Scorecard</h2>
		<dl>
			<dt>Percentage of User Accounts Actually Affected</dt>
			<dd>0.002%</dd>
		</dl>
	</section>

</div>


<div class="col-md-9">
	<p class="lead">
	Freedom of speech is essential to the Wikimedia movement -- our projects cannot flourish in an ecosystem where individuals cannot speak freely.
	</p>

	<p>Our users trust us to protect their identities and we take this responsibility seriously. We collect very little nonpublic information about users and retain that information for a short period of time.</p>

	<p>However, every year, law enforcement officials, government agencies, individuals, and corporations ask us to disclose users’ personal information. Often, we have no nonpublic information to disclose. But when we do, we carefully evaluate every request before considering disclosure. If the requests do not meet our standards -- if they are overly broad, unclear, or irrelevant -- we will push back on behalf of our users. You can also learn more about our efforts to reform US laws that set unclear legal standards about disclosure of user information in our FAQ.</p>

	<p>If we must comply with a legally valid request, we will notify the affected user before we disclose, if we are legally permitted and have the means to do so. In certain cases, we may provide financial assistance to users to fight an invalid request. </p>

	<p>Below, you will find more information about the requests for user data we receive.</p>

	<blockquote>
		<p>Man is least himself when he talks in his own person. Give him a mask, and he will tell you the truth.</p>
		<footer>
			<img src="http://lorempixel.com/100/100/people/">
			<p>Oscar Wilde, Writer & Poet (1891)</p>
		</footer>
	</blockquote>
</div>

<div class="clear"></div>
<br><br><br><br><br><br>

<div class="col-md-4">
	<div class="story">
		<h3>
			<small>Story</small><br>
			French DCRI Case<br>
			<small>March 2013</small>
		</h3>
		<hr />
		<p>In March 2013, a french intelligence agency called the DCRI detained a French Wikipedia user and threatened him with severe criminal penalties if he did not use his administrative rights to delete from French Wikipedia information about a military base that the DCRI deemed classified. The supposedly classified information was actually publicly available because the military had provided interviews and a tour of the base to local reporters. We defended the Wikipedia user involved and fought to keep the content up on French Wikipedia. Read more.</p>
	</div>
</div>

<div class="col-md-4">
	<div class="story">
		<h3>
			<small>Story</small><br>
			Tasmanian Aboriginal Language Case<br>
			<small>July 2012</small>
		</h3>
		<hr />
		<p>In July 2012, an aboriginal language center demanded the removal of the English Wikipedia article on "palawa kani", claiming copyright over the entirety of the language. We refused to remove the article because copyright law simply cannot be used to prevent people from using an entire language, nor should it be used to prevent general discussion about the language. Additionally, such a broad claim would have chilled free speech and negatively impacted research, education, and public discourse -- activities that Wikimedia serves to promote.</p>
	</div>
</div>

<div class="col-md-4">
	<div class="story">
		<h3>
			<small>Story</small><br>
			Monkey Picture<br>
			<small>January 2014</small>
		</h3>
		<hr />
		<p>In July 2011, an award-winning photographer left his camera unattended in a national park in North Sulawesi, Indonesia. A female crested black macaque monkey got ahold of the camera and took a series of pictures, including some self-portraits. The pictures were featured in an online newspaper article and eventually posted to Commons. We received a takedown request in January 2014 based on the argument that the photographer owned the copyright to the photographs. Believing that the photographs are in the public domain, we denied the request.</p>
	</div>
</div>



<div class="col-md-12">
	<div class="analytics">
		<h2>Requests for User Data</h2>
		<ul class="tabs">
			<li><a href="#">All</a></li>
			<li><a href="#">July 2013</a></li>
			<li><a href="#">January 2014</a></li>
			<li><a href="#">July 2014</a></li>
		</ul>
		<div class="graph">
			<div class="row">
				<div class="col-md-4">
					<h3>Request Type</h3>
					<div id="bar_graph_by_type" class="bar_graph_horizontal"></div>
					<h3>Requests Complied?</h3>
					<div>
						<p class="legend legend_yes">Yes</p>
						<p class="legend legend_no">No</p>
					</div>
				</div>
				<div class="col-md-7">
					<h3>By Country</h3>
					<div id="bar_graph_by_country" class="bar_graph_horizontal"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="analytics">
		<h2>How We Compare to Other Companies</h2>
		<ul class="tabs">
			<li><a href="#">All</a></li>
			<li><a href="#">July 2013</a></li>
			<li><a href="#">January 2014</a></li>
			<li><a href="#">July 2014</a></li>
		</ul>
		<div id="compare_graph" class="bubble_graph"></div>
		<span id="complied_requests">
			<input type="checkbox" id="complied_requests_check">
			<label for="complied_requests_check">% of requests complied</label>
		</span><br>
	</div>

</div>

<div class="clear">&nbsp;</div>
<script src="/javascripts/privacy.js"></script>
